/*感谢Obsidian QQ群 「M」大佬提供的代码*/
.markdown-preview-view .markdown-embed-content > .markdown-preview-view{
   max-height: 100%;
}

.markdown-preview-view .markdown-embed-content {
  max-height: 100% !important;
  max-width: 100% !important;
  min-height: 30px;
}