.markdown-preview-view img, .markdown-preview-view video {
    max-width: min(100%,600px) !important;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    outline: 2px solid var(--text-accent);
  }