
/*====================_Ars Magna Lucis et Umbrae_===================*/
/* 2020-06-28 Theme by @mediapathic, but honeslty mostly composed of bits from @death_au and @cotemaxime, */
/* and a few other fragments here and there.  */


/* font */

body {
  /* font stacks taken directly from Notion */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  -webkit-font-smoothing: auto;
}

body.theme-light, body.theme-dark  {
  /* change these numbers for an entirely new look */
  --hue: 203;
  --sat: 8%;
  --interactive-accent-rgb: 200, 120, 0;
  --code: #EB5757;
}


/* Light theme */
.theme-light {
  --L0: 0%;
  --L1: 100%;
  --L2: 96%;
  --L3: 90%;

  --text-rgb: 55, 53, 47;

  --text-highlight-bg:          rgb(251, 243, 219);
  --text-selection:             rgba(255, 180, 0, 0.15);
  --interactive-normal:         #f2f3f5;
  --interactive-hover:          #e9e9e9;

  --GText: hsl(var(--hue), var(--sat), 1i0%);
  --GFill: hsl(var(--hue), var(--sat), 50%);
  --GLine: hsl(var(--hue), var(--sat), var(--L3));
}


body.theme-light {
  --background-primary:         hsl(var(--hue), var(--sat), var(--L1));
  --background-primary-alt:     hsl(var(--hue), var(--sat), var(--L3));
  --background-secondary:       hsl(var(--hue), var(--sat), var(--L2));
  --background-secondary-alt:   hsl(var(--hue), var(--sat), var(--L3));
  --background-accent:          hsl(var(--hue), var(--sat), var(--L0));
  --background-modifier-border: rgba(var(--text-rgb), 0.14);
  --text-accent:                rgba(var(--text-rgb), 0.45);
  --text-accent-hover:          rgba(var(--text-rgb), 0.45);
  --text-normal:                rgba(var(--text-rgb), 0.9);
/*  --text-muted:                 rgba(var(--text-rgb), 0.45); /* subtle mode */
  --text-muted:                 var(--pulp-color);        /* Full Pulp */
  --text-faint:                 rgba(var(--text-rgb), 0.25);
  --text-on-accent:             rgba(var(--text-rgb), 0.9);
  --interactive-accent:         rgb(var(--interactive-accent-rgb));
  --interactive-accent-hover:   rgba(var(--interactive-accent-rgb), 0.8);
}
body.theme-light {
  --background-primary-alt:     hsl(var(--hue), var(--sat), var(--L2));
}

/* Fix font weights */
.view-header-title {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, strong, .cm-s-obsidian .cm-header {
  font-weight: 600;
}

/* headings */
.markdown-preview-view h1{
  font-size: 27px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.markdown-preview-view h2{
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 1px;
}
.markdown-preview-view h3,{
  font-size: 22px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6{
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.cm-s-obsidian .cm-header-1 { font-size: 30px; }
.cm-s-obsidian .cm-header-2 { font-size: 24px; }
.cm-s-obsidian .cm-header-3,
.cm-s-obsidian .cm-header-4,
.cm-s-obsidian .cm-header-5,
.cm-s-obsidian .cm-header-6{ font-size: 20px; }
.cm-s-obsidian .cm-header-6 { color: var(--text-muted); }

/* links */
.external-link {
  background-image: none; /* no external link indicator */
  padding:0;
  color: var(--text-normal);
}


/* embeds (mimics embedded tables from Notion) */
.markdown-embed-title {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
}

.markdown-preview-view .markdown-embed {
  border:none;
  margin:0;
  /* border-bottom: 1px solid var(--background-modifier-border); */
  border-radius: 0;
}

.markdown-embed-link {
  color: var(--text-normal);
  right:unset;
  left: 0;
  height: 30px;
  width: calc(100% - 20px);
  margin-left: 4px;
  border-bottom: 1px solid var(--background-modifier-border);
}

.markdown-embed-link::before {
  font-size: 0.8em;
}

.markdown-embed-link svg {
  display: none; /* hide the svg link icon, gets replaced with a nifty arrow */
}

/* table headers and first column styling */
.markdown-preview-view th:first-child, .markdown-preview-view td:first-child {
  border-left: none;
}
.markdown-preview-view th:last-child, .markdown-preview-view td:last-child {
  border-right: none;
}

.markdown-preview-view th {
  text-align: left;
  font-weight: normal;
  color: var(--text-muted);
}

.markdown-preview-view td:first-child {
  font-weight: 600;
}

.markdown-preview-view hr {
  height: 1px;
  opacity: 0.5;
}

/* popover fixes */
.popover.hover-popover .markdown-embed-link {
  border-bottom: none;
}

/* task lists! */
.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-normal);
  border-radius: 2px;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0;
  margin-right: 4px;
  margin-bottom: 2px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.markdown-preview-view .task-list-item-checkbox:checked {
  border:none;
  background-color: var(--interactive-accent);
}
.markdown-preview-view .task-list-item-checkbox:hover {
  background-color: var(--background-primary-alt);
}
/* the SVG check mark */
.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: ' ';
  position: absolute;
  background-color: white;
  left:1px;
  top:1px;
  right:1px;
  bottom:1px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
}

/* this should strike through checked off items, once CSS supports :has
  (it's draft right now) */
.markdown-preview-view .task-list-item:has(.task-list-item-checkbox:checked) {
  text-decoration: line-through;
  color: var(--text-muted);
}

.markdown-preview-view .task-list-item {
  margin-left: -40px;
}

/* Blockquotes */
.markdown-preview-view blockquote, .cm-s-obsidian pre.HyperMD-quote-1 {
  border:none;
  border-left: 3px solid currentcolor;
}

/* for some reason messing with the padding and size like this caused weirdness
  with the editor mode cursor position. So just preview for now */
.markdown-preview-view blockquote {
  padding: 0 0.9em;
  font-size: 1.2em;
  margin: 3px 2px;
}

/* code */
.markdown-preview-view code, .cm-s-obsidian span.cm-inline-code, .cm-s-obsidian pre.HyperMD-codeblock {
  color: var(--code);
  font-family: var(--font-monospace);
}

/* escape character */
.cm-s-obsidian span.cm-hmd-escape-backslash {
  color: var(--text-faint);
}

/* highlight */
.markdown-preview-view mark {
  color: var(--text-normal);
}

/* bulleted lists */
ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}
ul ul {
  padding-inline-start: 60px;
}

/* graph view colours */
.graph-view.color-fill {
  color: var(--GFill);
}
.graph-view.color-line {
  color: var(--GLine);
}
.graph-view.color-text {
  color: var(--GText);
}
.graph-view.color-fill-highlight {
  color: var(--interactive-accent);
}
.graph-view.color-line-highlight {
  color: var(--interactive-accent);
}

/* misc fixes */
.cm-s-obsidian span.cm-quote {
  color: var(--text-normal);
}

 /* bringing in the margins */
/* .CodeMirror-wrap, .markdown-preview-view {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px 30vh !important;
  border: none;
  position: relative;
}
.CodeMirror-wrap { height:auto; }
.markdown-source-view { overflow: auto; }
.CodeMirror-scroll { overflow: visible !important; } */
/*.workspace-leaf-resize-handle { display: none; } */